In [73]:
import cx_Oracle
import pandas as pd

In [74]:
# Source database connection
source_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="omsddb.cswg.com:1521/omsd_app"
)

# Target database connection
target_conn = cx_Oracle.connect(
    user="apps",
    password="apps",
    dsn="omsddb.cswg.com:1521/omsd_app"
)

In [75]:
p_map_code = "OTC_ORDER_ENTRY_UI"

In [76]:

# Create cursors for both connections
source_cursor = source_conn.cursor()
# target_cursor = target_conn.cursor()
target_cursor = source_conn.cursor()

In [77]:
# Select data from the source table
sql_query = f"""SELECT * FROM APPS.XXCMN_VALUE_MAP_DEF WHERE MAP_CODE = '{p_map_code}'"""
print(sql_query)
source_cursor.execute(sql_query)
def_df = source_cursor.fetchall()
def_df = pd.DataFrame(def_df)
def_df

SELECT * FROM APPS.XXCMN_VALUE_MAP_DEF WHERE MAP_CODE = 'OTC_ORDER_ENTRY_UI'

,0,1,2,3,4,5,6,7,8,9,...,365,366,367,368,369,370,371,372,373,374
0,301,OTC_ORDER_ENTRY_UI,OTC Order Entry UI List of Values,Y,None,None,None,None,None,Division,...,None,None,None,None,None,None,None,None,None,None

In [78]:
# Get column names from the cursor's description
column_names = [desc[0] for desc in source_cursor.description]
column_names

['MAP_DEFINITION_ID',
 'MAP_CODE',
 'MAP_DESC',
 'ACTIVE_DATE_FLAG',
 'N_VALUE1_SEQUENCE',
 'N_VALUE1_PROMPT_TEXT',
 'N_VALUE1_REQUIRED_FLAG',
 'N_VALUE1_COLUMN_WIDTH',
 'C_VALUE1_SEQUENCE',
 'C_VALUE1_PROMPT_TEXT',
 'C_VALUE1_REQUIRED_FLAG',
 'C_VALUE1_COLUMN_WIDTH',
 'D_VALUE1_SEQUENCE',
 'D_VALUE1_PROMPT_TEXT',
 'D_VALUE1_REQUIRED_FLAG',
 'D_VALUE1_COLUMN_WIDTH',
 'N_VALUE2_SEQUENCE',
 'N_VALUE2_PROMPT_TEXT',
 'N_VALUE2_REQUIRED_FLAG',
 'N_VALUE2_COLUMN_WIDTH',
 'C_VALUE2_SEQUENCE',
 'C_VALUE2_PROMPT_TEXT',
 'C_VALUE2_REQUIRED_FLAG',
 'C_VALUE2_COLUMN_WIDTH',
 'D_VALUE2_SEQUENCE',
 'D_VALUE2_PROMPT_TEXT',
 'D_VALUE2_REQUIRED_FLAG',
 'D_VALUE2_COLUMN_WIDTH',
 'N_VALUE3_SEQUENCE',
 'N_VALUE3_PROMPT_TEXT',
 'N_VALUE3_REQUIRED_FLAG',
 'N_VALUE3_COLUMN_WIDTH',
 'C_VALUE3_SEQUENCE',
 'C_VALUE3_PROMPT_TEXT',
 'C_VALUE3_REQUIRED_FLAG',
 'C_VALUE3_COLUMN_WIDTH',
 'D_VALUE3_SEQUENCE',
 'D_VALUE3_PROMPT_TEXT',
 'D_VALUE3_REQUIRED_FLAG',
 'D_VALUE3_COLUMN_WIDTH',
 'N_VALUE4_SEQUENCE',
 'N_VALUE4_PROMPT_TEXT',
 'N_VALUE4_REQUIRED_FLAG',
 'N_VALUE4_COLUMN_WIDTH',
 'C_VALUE4_SEQUENCE',
 'C_VALUE4_PROMPT_TEXT',
 'C_VALUE4_REQUIRED_FLAG',
 'C_VALUE4_COLUMN_WIDTH',
 'D_VALUE4_SEQUENCE',
 'D_VALUE4_PROMPT_TEXT',
 'D_VALUE4_REQUIRED_FLAG',
 'D_VALUE4_COLUMN_WIDTH',
 'N_VALUE5_SEQUENCE',
 'N_VALUE5_PROMPT_TEXT',
 'N_VALUE5_REQUIRED_FLAG',
 'N_VALUE5_COLUMN_WIDTH',
 'C_VALUE5_SEQUENCE',
 'C_VALUE5_PROMPT_TEXT',
 'C_VALUE5_REQUIRED_FLAG',
 'C_VALUE5_COLUMN_WIDTH',
 'D_VALUE5_SEQUENCE',
 'D_VALUE5_PROMPT_TEXT',
 'D_VALUE5_REQUIRED_FLAG',
 'D_VALUE5_COLUMN_WIDTH',
 'N_VALUE6_SEQUENCE',
 'N_VALUE6_PROMPT_TEXT',
 'N_VALUE6_REQUIRED_FLAG',
 'N_VALUE6_COLUMN_WIDTH',
 'C_VALUE6_SEQUENCE',
 'C_VALUE6_PROMPT_TEXT',
 'C_VALUE6_REQUIRED_FLAG',
 'C_VALUE6_COLUMN_WIDTH',
 'D_VALUE6_SEQUENCE',
 'D_VALUE6_PROMPT_TEXT',
 'D_VALUE6_REQUIRED_FLAG',
 'D_VALUE6_COLUMN_WIDTH',
 'N_VALUE7_SEQUENCE',
 'N_VALUE7_PROMPT_TEXT',
 'N_VALUE7_REQUIRED_FLAG',
 'N_VALUE7_COLUMN_WIDTH',
 'C_VALUE7_SEQUENCE',
 'C_VALUE7_PROMPT_TEXT',
 'C_VALUE7_REQUIRED_FLAG',
 'C_VALUE7_COLUMN_WIDTH',
 'D_VALUE7_SEQUENCE',
 'D_VALUE7_PROMPT_TEXT',
 'D_VALUE7_REQUIRED_FLAG',
 'D_VALUE7_COLUMN_WIDTH',
 'N_VALUE8_SEQUENCE',
 'N_VALUE8_PROMPT_TEXT',
 'N_VALUE8_REQUIRED_FLAG',
 'N_VALUE8_COLUMN_WIDTH',
 'C_VALUE8_SEQUENCE',
 'C_VALUE8_PROMPT_TEXT',
 'C_VALUE8_REQUIRED_FLAG',
 'C_VALUE8_COLUMN_WIDTH',
 'D_VALUE8_SEQUENCE',
 'D_VALUE8_PROMPT_TEXT',
 'D_VALUE8_REQUIRED_FLAG',
 'D_VALUE8_COLUMN_WIDTH',
 'N_VALUE9_SEQUENCE',
 'N_VALUE9_PROMPT_TEXT',
 'N_VALUE9_REQUIRED_FLAG',
 'N_VALUE9_COLUMN_WIDTH',
 'C_VALUE9_SEQUENCE',
 'C_VALUE9_PROMPT_TEXT',
 'C_VALUE9_REQUIRED_FLAG',
 'C_VALUE9_COLUMN_WIDTH',
 'D_VALUE9_SEQUENCE',
 'D_VALUE9_PROMPT_TEXT',
 'D_VALUE9_REQUIRED_FLAG',
 'D_VALUE9_COLUMN_WIDTH',
 'N_VALUE10_SEQUENCE',
 'N_VALUE10_PROMPT_TEXT',
 'N_VALUE10_REQUIRED_FLAG',
 'N_VALUE10_COLUMN_WIDTH',
 'C_VALUE10_SEQUENCE',
 'C_VALUE10_PROMPT_TEXT',
 'C_VALUE10_REQUIRED_FLAG',
 'C_VALUE10_COLUMN_WIDTH',
 'D_VALUE10_SEQUENCE',
 'D_VALUE10_PROMPT_TEXT',
 'D_VALUE10_REQUIRED_FLAG',
 'D_VALUE10_COLUMN_WIDTH',
 'N_VALUE11_SEQUENCE',
 'N_VALUE11_PROMPT_TEXT',
 'N_VALUE11_REQUIRED_FLAG',
 'N_VALUE11_COLUMN_WIDTH',
 'C_VALUE11_SEQUENCE',
 'C_VALUE11_PROMPT_TEXT',
 'C_VALUE11_REQUIRED_FLAG',
 'C_VALUE11_COLUMN_WIDTH',
 'D_VALUE11_SEQUENCE',
 'D_VALUE11_PROMPT_TEXT',
 'D_VALUE11_REQUIRED_FLAG',
 'D_VALUE11_COLUMN_WIDTH',
 'N_VALUE12_SEQUENCE',
 'N_VALUE12_PROMPT_TEXT',
 'N_VALUE12_REQUIRED_FLAG',
 'N_VALUE12_COLUMN_WIDTH',
 'C_VALUE12_SEQUENCE',
 'C_VALUE12_PROMPT_TEXT',
 'C_VALUE12_REQUIRED_FLAG',
 'C_VALUE12_COLUMN_WIDTH',
 'D_VALUE12_SEQUENCE',
 'D_VALUE12_PROMPT_TEXT',
 'D_VALUE12_REQUIRED_FLAG',
 'D_VALUE12_COLUMN_WIDTH',
 'N_VALUE13_SEQUENCE',
 'N_VALUE13_PROMPT_TEXT',
 'N_VALUE13_REQUIRED_FLAG',
 'N_VALUE13_COLUMN_WIDTH',
 'C_VALUE13_SEQUENCE',
 'C_VALUE13_PROMPT_TEXT',
 'C_VALUE13_REQUIRED_FLAG',
 'C_VALUE13_COLUMN_WIDTH',
 'D_VALUE13_SEQUENCE',
 'D_VALUE13_PROMPT_TEXT',
 'D_VALUE13_REQUIRED_FLAG',
 'D_VALUE13_COLUMN_WIDTH',
 'N_VALUE14_SEQUENCE',
 'N_VALUE14_PROMPT_TEXT',
 'N_VALUE14_REQUIRED_FLAG',
 'N_VALUE14_COLUMN_WIDTH',
 'C_VALUE14_SEQUENCE',
 'C_VALUE14_PROMPT_TEXT',
 'C_VALUE14_REQUIRED_FLAG',
 'C_VALUE14_COLUMN_WIDTH',
 'D_VALUE14_SEQUENCE',
 'D_VALUE14_PROMPT_TEXT',
 'D_VALUE14_REQUIRED_FLAG',
 'D_VALUE14_COLUMN_WIDTH',
 'N_VALUE15_SEQUENCE',
 'N_VALUE15_PROMPT_TEXT',
 'N_VALUE15_REQUIRED_FLAG',
 'N_VALUE15_COLUMN_WIDTH',
 'C_VALUE15_SEQUENCE',
 'C_VALUE15_PROMPT_TEXT',
 'C_VALUE15_REQUIRED_FLAG',
 'C_VALUE15_COLUMN_WIDTH',
 'D_VALUE15_SEQUENCE',
 'D_VALUE15_PROMPT_TEXT',
 'D_VALUE15_REQUIRED_FLAG',
 'D_VALUE15_COLUMN_WIDTH',
 'N_VALUE16_SEQUENCE',
 'N_VALUE16_PROMPT_TEXT',
 'N_VALUE16_REQUIRED_FLAG',
 'N_VALUE16_COLUMN_WIDTH',
 'C_VALUE16_SEQUENCE',
 'C_VALUE16_PROMPT_TEXT',
 'C_VALUE16_REQUIRED_FLAG',
 'C_VALUE16_COLUMN_WIDTH',
 'D_VALUE16_SEQUENCE',
 'D_VALUE16_PROMPT_TEXT',
 'D_VALUE16_REQUIRED_FLAG',
 'D_VALUE16_COLUMN_WIDTH',
 'N_VALUE17_SEQUENCE',
 'N_VALUE17_PROMPT_TEXT',
 'N_VALUE17_REQUIRED_FLAG',
 'N_VALUE17_COLUMN_WIDTH',
 'C_VALUE17_SEQUENCE',
 'C_VALUE17_PROMPT_TEXT',
 'C_VALUE17_REQUIRED_FLAG',
 'C_VALUE17_COLUMN_WIDTH',
 'D_VALUE17_SEQUENCE',
 'D_VALUE17_PROMPT_TEXT',
 'D_VALUE17_REQUIRED_FLAG',
 'D_VALUE17_COLUMN_WIDTH',
 'N_VALUE18_SEQUENCE',
 'N_VALUE18_PROMPT_TEXT',
 'N_VALUE18_REQUIRED_FLAG',
 'N_VALUE18_COLUMN_WIDTH',
 'C_VALUE18_SEQUENCE',
 'C_VALUE18_PROMPT_TEXT',
 'C_VALUE18_REQUIRED_FLAG',
 'C_VALUE18_COLUMN_WIDTH',
 'D_VALUE18_SEQUENCE',
 'D_VALUE18_PROMPT_TEXT',
 'D_VALUE18_REQUIRED_FLAG',
 'D_VALUE18_COLUMN_WIDTH',
 'N_VALUE19_SEQUENCE',
 'N_VALUE19_PROMPT_TEXT',
 'N_VALUE19_REQUIRED_FLAG',
 'N_VALUE19_COLUMN_WIDTH',
 'C_VALUE19_SEQUENCE',
 'C_VALUE19_PROMPT_TEXT',
 'C_VALUE19_REQUIRED_FLAG',
 'C_VALUE19_COLUMN_WIDTH',
 'D_VALUE19_SEQUENCE',
 'D_VALUE19_PROMPT_TEXT',
 'D_VALUE19_REQUIRED_FLAG',
 'D_VALUE19_COLUMN_WIDTH',
 'N_VALUE20_SEQUENCE',
 'N_VALUE20_PROMPT_TEXT',
 'N_VALUE20_REQUIRED_FLAG',
 'N_VALUE20_COLUMN_WIDTH',
 'C_VALUE20_SEQUENCE',
 'C_VALUE20_PROMPT_TEXT',
 'C_VALUE20_REQUIRED_FLAG',
 'C_VALUE20_COLUMN_WIDTH',
 'D_VALUE20_SEQUENCE',
 'D_VALUE20_PROMPT_TEXT',
 'D_VALUE20_REQUIRED_FLAG',
 'D_VALUE20_COLUMN_WIDTH',
 'ATTRIBUTE1',
 'ATTRIBUTE2',
 'ATTRIBUTE3',
 'ATTRIBUTE4',
 'ATTRIBUTE5',
 'ACTIVE_BEGIN_DATE',
 'ACTIVE_END_DATE',
 'CREATED_BY',
 'CREATION_DATE',
 'LAST_UPDATED_BY',
 'LAST_UPDATE_DATE',
 'N_VALUE1_UI_SHOW',
 'N_VALUE1_UI_UPDATE',
 'C_VALUE1_UI_SHOW',
 'C_VALUE1_UI_UPDATE',
 'D_VALUE1_UI_SHOW',
 'D_VALUE1_UI_UPDATE',
 'N_VALUE2_UI_SHOW',
 'N_VALUE2_UI_UPDATE',
 'C_VALUE2_UI_SHOW',
 'C_VALUE2_UI_UPDATE',
 'D_VALUE2_UI_SHOW',
 'D_VALUE2_UI_UPDATE',
 'N_VALUE3_UI_SHOW',
 'N_VALUE3_UI_UPDATE',
 'C_VALUE3_UI_SHOW',
 'C_VALUE3_UI_UPDATE',
 'D_VALUE3_UI_SHOW',
 'D_VALUE3_UI_UPDATE',
 'N_VALUE4_UI_SHOW',
 'N_VALUE4_UI_UPDATE',
 'C_VALUE4_UI_SHOW',
 'C_VALUE4_UI_UPDATE',
 'D_VALUE4_UI_SHOW',
 'D_VALUE4_UI_UPDATE',
 'N_VALUE5_UI_SHOW',
 'N_VALUE5_UI_UPDATE',
 'C_VALUE5_UI_SHOW',
 'C_VALUE5_UI_UPDATE',
 'D_VALUE5_UI_SHOW',
 'D_VALUE5_UI_UPDATE',
 'N_VALUE6_UI_SHOW',
 'N_VALUE6_UI_UPDATE',
 'C_VALUE6_UI_SHOW',
 'C_VALUE6_UI_UPDATE',
 'D_VALUE6_UI_SHOW',
 'D_VALUE6_UI_UPDATE',
 'N_VALUE7_UI_SHOW',
 'N_VALUE7_UI_UPDATE',
 'C_VALUE7_UI_SHOW',
 'C_VALUE7_UI_UPDATE',
 'D_VALUE7_UI_SHOW',
 'D_VALUE7_UI_UPDATE',
 'N_VALUE8_UI_SHOW',
 'N_VALUE8_UI_UPDATE',
 'C_VALUE8_UI_SHOW',
 'C_VALUE8_UI_UPDATE',
 'D_VALUE8_UI_SHOW',
 'D_VALUE8_UI_UPDATE',
 'N_VALUE9_UI_SHOW',
 'N_VALUE9_UI_UPDATE',
 'C_VALUE9_UI_SHOW',
 'C_VALUE9_UI_UPDATE',
 'D_VALUE9_UI_SHOW',
 'D_VALUE9_UI_UPDATE',
 'N_VALUE10_UI_SHOW',
 'N_VALUE10_UI_UPDATE',
 'C_VALUE10_UI_SHOW',
 'C_VALUE10_UI_UPDATE',
 'D_VALUE10_UI_SHOW',
 'D_VALUE10_UI_UPDATE',
 'N_VALUE11_UI_SHOW',
 'N_VALUE11_UI_UPDATE',
 'C_VALUE11_UI_SHOW',
 'C_VALUE11_UI_UPDATE',
 'D_VALUE11_UI_SHOW',
 'D_VALUE11_UI_UPDATE',
 'N_VALUE12_UI_SHOW',
 'N_VALUE12_UI_UPDATE',
 'C_VALUE12_UI_SHOW',
 'C_VALUE12_UI_UPDATE',
 'D_VALUE12_UI_SHOW',
 'D_VALUE12_UI_UPDATE',
 'N_VALUE13_UI_SHOW',
 'N_VALUE13_UI_UPDATE',
 'C_VALUE13_UI_SHOW',
 'C_VALUE13_UI_UPDATE',
 'D_VALUE13_UI_SHOW',
 'D_VALUE13_UI_UPDATE',
 'N_VALUE14_UI_SHOW',
 'N_VALUE14_UI_UPDATE',
 'C_VALUE14_UI_SHOW',
 'C_VALUE14_UI_UPDATE',
 'D_VALUE14_UI_SHOW',
 'D_VALUE14_UI_UPDATE',
 'N_VALUE15_UI_SHOW',
 'N_VALUE15_UI_UPDATE',
 'C_VALUE15_UI_SHOW',
 'C_VALUE15_UI_UPDATE',
 'D_VALUE15_UI_SHOW',
 'D_VALUE15_UI_UPDATE',
 'N_VALUE16_UI_SHOW',
 'N_VALUE16_UI_UPDATE',
 'C_VALUE16_UI_SHOW',
 'C_VALUE16_UI_UPDATE',
 'D_VALUE16_UI_SHOW',
 'D_VALUE16_UI_UPDATE',
 'N_VALUE17_UI_SHOW',
 'N_VALUE17_UI_UPDATE',
 'C_VALUE17_UI_SHOW',
 'C_VALUE17_UI_UPDATE',
 'D_VALUE17_UI_SHOW',
 'D_VALUE17_UI_UPDATE',
 'N_VALUE18_UI_SHOW',
 'N_VALUE18_UI_UPDATE',
 'C_VALUE18_UI_SHOW',
 'C_VALUE18_UI_UPDATE',
 'D_VALUE18_UI_SHOW',
 'D_VALUE18_UI_UPDATE',
 'N_VALUE19_UI_SHOW',
 'N_VALUE19_UI_UPDATE',
 'C_VALUE19_UI_SHOW',
 'C_VALUE19_UI_UPDATE',
 'D_VALUE19_UI_SHOW',
 'D_VALUE19_UI_UPDATE',
 'N_VALUE20_UI_SHOW',
 'N_VALUE20_UI_UPDATE',
 'C_VALUE20_UI_SHOW',
 'C_VALUE20_UI_UPDATE',
 'D_VALUE20_UI_SHOW',
 'D_VALUE20_UI_UPDATE']

,MAP_DEFINITION_ID,MAP_CODE,MAP_DESC,ACTIVE_DATE_FLAG,N_VALUE1_SEQUENCE,N_VALUE1_PROMPT_TEXT,N_VALUE1_REQUIRED_FLAG,N_VALUE1_COLUMN_WIDTH,C_VALUE1_SEQUENCE,C_VALUE1_PROMPT_TEXT,...,C_VALUE19_UI_SHOW,C_VALUE19_UI_UPDATE,D_VALUE19_UI_SHOW,D_VALUE19_UI_UPDATE,N_VALUE20_UI_SHOW,N_VALUE20_UI_UPDATE,C_VALUE20_UI_SHOW,C_VALUE20_UI_UPDATE,D_VALUE20_UI_SHOW,D_VALUE20_UI_UPDATE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pn_map_def_id = def_df['MAP_DEF_ID'].iloc[0]
# Now you have a DataFrame with column names
# print(def_df)
print(pn_map_def_id)

In [55]:
vm_query = f"""SELECT .*
                 FROM XXCMN_VALUE_MAP gvm
                 WHERE gvm.map_def_id = {pn_map_def_id}
                 ORDER BY gvm.map_id"""
# print(sql_query)
source_cursor.execute(vm_query)
vm_df = source_cursor.fetchall()
vm_df = pd.DataFrame(vm_df)
vm_df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,18523,1362,060772651,0100,060772651,00204,0000,Y,N,None,...,None,None,None,None,None,-1,2013-10-16 20:53:11,-1,2013-10-16 20:53:11,-1
1,18524,1362,090292651,0100,090292651,00204,0000,Y,N,None,...,None,None,None,None,None,-1,2013-10-16 20:53:11,-1,2013-10-16 20:53:11,-1
2,18525,1362,020323051,0100,020323051,00204,0000,Y,Y,None,...,None,None,None,None,None,-1,2013-10-16 20:53:11,-1,2013-10-16 20:53:11,-1
3,18526,1362,030403051,0100,030403051,00204,0000,Y,Y,None,...,None,None,None,None,None,-1,2013-10-16 20:53:11,-1,2013-10-16 20:53:11,-1
4,18527,1362,040603051,0100,040603051,00204,0000,Y,Y,None,...,None,None,None,None,None,-1,2013-10-16 20:53:11,-1,2013-10-16 20:53:11,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1718,154188,1362,050914651,0101,050914651,00204,0000,Y,Y,None,...,None,None,None,None,None,1968,2019-05-06 16:03:08,1968,2019-05-06 16:03:08,55850512
1719,160788,1362,010282451,0100,010282451,00204,0000,Y,Y,None,...,None,None,None,None,None,1968,2019-08-20 10:43:11,1968,2019-08-20 10:43:18,59406394
1720,194481,1362,221202151,0100,221202151,00204,0000,Y,Y,None,...,None,None,None,None,None,1981,2022-01-18 10:10:58,1981,2022-01-18 10:10:58,92251300
1721,194942,1362,231312151,0100,231312151,00204,0000,Y,Y,None,...,None,None,None,None,None,1981,2022-02-03 16:08:28,1981,2022-02-03 16:08:28,92784191
1722,196886,1362,020323151,0100,020323151,00204,0000,Y,Y,None,...,None,None,None,None,None,1981,2022-03-21 18:53:02,1981,2022-03-21 18:53:02,94258700

In [61]:
target_table = "APPS.XXCMN_VALUE_MAP_DEF_TEST"

# Construct an INSERT INTO statement to copy the data to the target table

print(insert_statement)
# Execute the INSERT INTO statement to copy the data
target_cursor.execute(insert_statement)

# Commit the changes to the target database
target_conn.commit()

INSERT INTO XXCMN.XXCMN_GLB_VALUE_MAP_DEF_Y
                       SELECT * FROM XXCMN.XXCMN_GLB_VALUE_MAP_DEF
                       WHERE module_code = 'XXP2P'
                       AND UPPER (map_code) LIKE UPPER (NVL ('CSWG_DISC_CODE_PRMPT_AVS_CCID', '%'))

DatabaseError: ORA-00942: table or view does not exist

In [46]:
target_table = "XXCMN.XXCMN_GLB_VALUE_MAP_DEF_Y"

# Get the next sequence value and store it in a variable
target_cursor.execute("SELECT XXCMN_GLB_VALUE_MAP_DEF_S01.NEXTVAL FROM dual")
next_val = target_cursor.fetchone()[0]

# Construct a dynamic SQL statement to copy the data to the target table
column_list = ', '.join(column_names[1:])  # Start from the second column

insert_statement = f"""
    INSERT INTO {target_table} (MAP_DEF_ID, {column_list})
    Values def[MAP_DEF_ID],...all columns here from list
    ))
"""
print(insert_statement)
# Execute the dynamic SQL statement to copy the data and use the next sequence value
target_cursor.execute(insert_statement)

# Commit the changes to the target database
target_conn.commit()

# Close cursors and connections
source_cursor.close()
target_cursor.close()
source_conn.close()
target_conn.close()

print("Data copied to target table:", target_table)
print("Next sequence value used:", next_val)

TypeError: sequence item 0: expected str instance, int found

In [44]:
# Construct a dynamic SQL statement to check if the combination exists
check_query = f"""
    SELECT COUNT(*) FROM {target_table}
    WHERE MODULE_CODE = '{p_module_code}' 
    AND UPPER(MAP_CODE) LIKE UPPER(NVL('{p_map_code}', '%'))
"""

# Execute the check query
target_cursor.execute(check_query)
combination_exists = target_cursor.fetchone()[0] > 0

if combination_exists:
    print(f"Combination already exists with this MAP_DEF_ID in target table: {target_table}")
else:
    # Construct a dynamic SQL statement to copy the data to the target table
    insert_statement = f"""
        INSERT INTO {target_table} (MAP_DEF_ID, {column_list})
        SELECT {next_val}, {column_list}
        FROM XXCMN.XXCMN_GLB_VALUE_MAP_DEF
        WHERE module_code = '{p_module_code}' 
        AND UPPER (map_code) LIKE UPPER (NVL ('{p_map_code}', '%'))
    """

    # Execute the dynamic SQL statement to copy the data and use the next sequence value twice
    target_cursor.execute(insert_statement)

    # Commit the changes to the target database
    target_conn.commit()

    print("Data copied to target table:", target_table)
    print("Next sequence value used:", next_val)

# Close cursors and connections
source_cursor.close()
target_cursor.close()
source_conn.close()
target_conn.close()

DatabaseError: ORA-00942: table or view does not exist